<div class="center-text">
  <h1>Sign Up</h1>
</div>

</br>

<div class="center-text col-md-4 col-md-offset-4">
  <form>
    <fieldset class="form-group">
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Email Address">
    </fieldset>
    <fieldset class="form-group">
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Username">
    </fieldset>
    <fieldset class="form-group">
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Password">
    </fieldset>
    <fieldset class="form-group">
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Confirm Password">
    </fieldset>
  </form>
  <input class="btn btn-primary" type="submit" value="Submit">
</div>
