<div class="container center-text">
  <h1>Restaurant</h1>
</div>

</br>

<div class="center-text col-lg-12">
  <div class="container">
    <!-- <form>
      <fieldset class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Username">
      </fieldset>
      <fieldset class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Password">
      </fieldset>
    </form>
    <input class="btn btn-primary" type="submit" value="Submit">
    <%= link_to "Sign Up", sign_up_path(@sign_up), :class => "btn btn-success"%>
    -->
      <hr>

    <div>
      <%= link_to "List Meal", list_meal_path(@list_meal), :class => "btn btn-warning"%>
    </div>

      <hr>

    <div>
      <h3>Current Meals</h3>
    </div>

      <%= image_tag("meal_list.png") %>

    <hr>

  </div>
</div>
