<div class="box" style="text-align:center">
    <div style="padding-top: 75px"><%= image_tag ("mainlogo.png"), :height => "80%"%></div>
    <h1 style="padding-top: 100px">Welcome to Kana</h1>
    <p>Cheeseburger pecorino stinking bishop.
      Everyone loves fondue fromage frais cheesecake say
      cheese taleggio fondue cheese and biscuits. St. agur
      blue cheese babybel when the cheese comes out everybody's
      happy halloumi cheese on toast manchego cut the cheese cheese
      strings. Fromage queso swiss jarlsberg stinking bishop red leicester
      when the cheese comes out everybody's happy the big cheese. Ricotta
      cauliflower cheese danish fontina.</p>

      <p>Danish fontina bavarian bergkase everyone loves. Macaroni cheese
        babybel fromage frais cream cheese everyone loves stilton dolcelatte
        cut the cheese. Cheese slices caerphilly blue castello goat cheese and
        wine feta queso chalk and cheese. Stilton.</p>

      <p>Cut the cheese cheeseburger pepper jack. Cheese on toast boursin croque
        monsieur smelly cheese cheese and wine emmental cheese strings say cheese.
        Swiss st. agur blue cheese taleggio fromage frais boursin goat port-salut cheese
        on toast. Hard cheese cheesy feet fromage frais lancashire blue castello pepper
        jack fondue cheese strings. Emmental the big cheese bavarian bergkase.</p>
</div>
