<div class="box" style="text-align:center">
    <h1 style="padding-top: 100px">Retailers Use Case</h1>
  <hr>
    <%= image_tag("biz_case/kana_retailers_process.png") %>
      </br></br>
    <%= link_to "Back Home", root_path(@home), :class => "btn btn-primary" %>
</div>
