<div class="box">
    <h2>Thank You!</h2>
    <h4>An email has been sent regarding your order</h4>
    <h5>Your meals are avaliable for pick up</h5>
    <%= image_tag ("qr_code.png")%>
</br>
</br>
</br>
      <%= link_to "Back Home", root_path(@home), :class => "btn btn-primary" %>

  <div>
