<div class="box center-text">
  <h1>Customer</h1>
</div>

</br>

<div class="center-text col-lg-12">
    <div class="box">
        <!-- <form>
          <fieldset class="form-group">
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Username">
          </fieldset>
          <fieldset class="form-group">
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Password">
          </fieldset>
        </form>
        <input class="btn btn-primary" type="submit" value="Submit">
        <%= link_to "Sign Up", sign_up_path(@sign_up), :class => "btn btn-success"%>
      -->

      <h2>Welcome to Kana</h2>
      <hr>

        </br>
      <%= link_to "Meals", meals_path(@meals), :class => "btn btn-primary"%>
      <%= link_to "Ingredients", ingredients_path(@ingredients), :class => "btn btn-success"%>
    </div>
</div>
