<div class="center-text">
  <h1>Customer</h1>
</div>

</br>

<div class="center-text col-md-4 col-md-offset-4">
  <form>
    <fieldset class="form-group">
      <label for="formGroupExampleInput">Example label</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
    </fieldset>
    <fieldset class="form-group">
      <label for="formGroupExampleInput2">Another label</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
    </fieldset>
  </form>
  <input class="btn btn-primary" type="submit" value="Submit">
  <button type="button" class="btn btn-success-outline">Sign Up</button>
</div>
