  <div class="box">
        <h3>Available Meals</h3>
   </div>

        <div>

          <table>
              <tbody>
                  <% @create_meals.each do |create_meal| %>
                        <tr>
                          <div class="col-md-4 col-md-offset-4 center-text">
	                          <div class="thumbnail">
		                          <%= image_tag create_meal.avatar.url(:thumb) %>
		                          <h3><%= create_meal.name %></h3>
		                          <p><%= create_meal.description %></p>

		                          <%= link_to 'Purchase', create_meal, :class => "btn btn-primary" %>
	                          </div>
	                      </div>
                      </tr>
                  <% end %>
              </tbody>
          </table>	 

        </div>

