
<div class="center-text col-lg-12">
  <div class="container">
      <div style="padding: 50px">
        <h3>Available Meals</h3>
          <hr>
        <%= image_tag("meal_map.png", :height => "110%") %>
      </div>
  </div>
</div>
